

		<div class="footer_box">
			<section class="footer">
				<div class="footer_top">
					<div class="foot_top1">
						<div class="qq">
							 <i class="fa fa-envelope"></i>
						   </div>
						   
						   <div class="qq22">
								<h2>EMAIL SUPPORT</h2> 
								<p>iam4emmax@gmail.com</p>
						   </div>
					</div>
					<div class="foot_top2">
							<div class="qq">
									<i class="fa fa-phone"></i>
								  </div>
								  
								  <div class="qq22">
									   <h2>PHONE SUPPORT</h2> 
									   <p>09069003426, 08094605555</p>
								  </div>
					</div>
					<div class="foot_top3">
							<div class="qq">
									<i class="fa fa-user"></i>
								  </div>
								  
								  <div class="qq22">
									   <h2> GET LATEST DEALS</h2>
									  <p>  Our best promotions sent to your inbox.</p>
								  </div>
					</div>
					<div class="foot_top4">
						 
								   <input type="text" placeholder="Email Address">
								   <button type="submit">Subscribe</button>
					
				</div>
				
			</section>
		
				<div class="footer_container">
	
				
					<div class="foot1">
							<h2>About</h2>
							<ul>
								<li><a href="food.html">Home</a></li>
								<li><a href="">Shop</a></li>
								<li><a href="">Blog</a></li>
								<li><a href="/users/login">login</a></li>
								<li><a href="">features</a></li>
								<li><a href="">Terms & Conditions</a></li>
							</ul>
						</div>
					<div class="foot2">
							<h2>More Info</h2>
							<ul>
								
								
									  <li><a href="">Site Map</a></li>
								<li><a href="">Track My Order</a></li>
								<li><a href="">Privacy Policy</a></li>
								<li><a href="">Authentic Items Policy</a></li>
							</ul>
						</div>
						<div class="foot3">
							   
								
							 
								
								
							   <h2>Buying from us</h2>
							<li><a href=""> Buyer Safety Centre</a></li>
							<li><a href="">FAQs</a></li>
							<li><a href="">    Delivery</a></li>
							<li><a href="">Return Policy</a></li>
							<li><a href=""> Digital Services</a></li>
							<li><a href="">  Bulk Purchase</a></li>
						</div>
						<div class="foot4">
							<h2>Payment</h2>
	
							<li><a href=""> Wallet</a></li>
							<li><a href="">Verve</a></li>
							<li><a href="">Mastercard </a></li>
							<li><a href="">Visa </a></li>
						</div>
						<div class="foot5">
	
							<h2>Social Media</h2>
							<i class="fab fa-facebook-f"></i>
							<i class="fab fa-instagram"></i>
							<i class="fab fa-twitter"></i>
							<i class="fab fa-whatsapp"></i>
						</div>
					</div>
					<div class="footer_last">
						<p>Copyright &copy 2021 freaky-store. All rights reserved</p>
					</div>
	
				</div>
			</div>
				
<script src="/script/script.js"></script>
</body>
</html>