<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/topselling.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>
<body>

<section class="container"> 
    <div class="header">
        <div class="logo">
            <a href="/"><h1>E-Shop</h1></a>
        </div>
        <div class="navigation">
                <nav>
            <ul>
                <li><a href="javascript:void()">Home</a></li>
                <li><a href="javascript:void()">Shop</a></li>
                <li><a href="javascript:void()">Computer</a></li>
                <li><a href="javascript:void()">Shoe</a></li>
                <li><a href="javascript:void()">Phones</a></li>
                
            </ul>
        </nav>
        </div>
        
        <div class="search">
            <form action="">
                <input type="text" placeholder="Search anything here .....">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="last">
                
            <% if(!user){ %> 
                <li><a href="javascript:void()"><i class="fas fa-user"></i></a>
                    <% }else{ %> 
                    <img src="/img/<%= user.userImg %> " alt="" style="width: 40px;position: absolute;right: 6.6rem;top: 0;">
                    <li><a href="javascript:void()"></a>
                        <% } %> 
                    <ul id="pages">
                        <% if(!user){ %> 
                        <li><a href="/users/Register">Register</a></li>
                        <li><a href="/users/Login">Login</a></li>
                        <% }else{ %> 
                        <li><a href="/users/logout">Logout</a></li>
                        <% } %> 
                    </ul>
                
                </li>

                <li><a href="javascript:void()"><i class="fas fa-heart"></i></a></li>
                <li><a href="javascript:void()"><i class="fas fa-shopping-cart"></i><span id="cart">0</span></a> </li>
           
            </div>

    </div>

</section>

    