<div class="banner">
    <div class="banner_wrapper">
    <div class="banner_text">
        <h2>Would you like  to buy UK used products? </h2>
                <p>Search between millions of UK products from hundreds different online shops. Our price comparison service help you find the best deal from the market</p>
                <a href="javascript:void()" class="btn btn-primary">Shop Now</a>
    </div>

    <div class="col-md-6 banner_info_img">
        <div class="show_banner_img">
            <img src=".././img/shoe1.png" alt="" id="show_img">
        </div>

        <div class="select_banner_img">
            
            <img src=".././img/1.png" alt="" class="select_img">
            <img src=".././img/fr.png" alt="" class="select_img">
            <img src=".././img/tv1.png" alt="" class="select_img">
            <img src=".././img/gen.png" alt="" class="select_img">
            <img src=".././img/llap.png" alt="" class="select_img">
           
        </div>
    </div>
</div>

</div>
