<div class="feature_categories">
  <h2>Feature Categories</h2>
  <span></span>
  <div class="categories">
      <div class="cart1">
          <a href="/product/categories/phone">
          <img src="https://ng.jumia.is/cms/0-1-weekly-cps/0-categories/fl-260x144/phones.jpg" alt="">
          <p>Phones</p>
        </a>
      </div>

      
      <div class="cart2">
          <a href="/product/categories/electronic">
        <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/08/996986/1.jpg?8390" alt="">
        <p>Electronics</p>
    </a>
      </div>


      
      <div class="cart3">
          <a href="/product/categories/computer">
        <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/88/263127/1.jpg?7112" alt="">
        <p>Laptops</p>
    </a>
      </div>

      <div class="cart4">
        <a href="/product/categories/generator">
        <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/00/245146/1.jpg?7796" alt="">
        <p>Generators</p>
        </a>
      </div>


      <div class="cart5">
      <a href="/product/categories/fashions">

        <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/18/350122/1.jpg?7853" alt="">
        <p>Fashions</p>
        </a>
      </div>


      <div class="cart1">
      <a href="/product/categories/bag">

          <img src="../../././img/bag1.jpg" alt="">
          <p>Bag</p>
          </a>
      </div>
      <div class="cart2">
        <a href="/product/categories/large-appliance">

        <img src="../../././img/fr.png" alt="">
        <p>Large Appliances</p>
        </a>
      </div>
      <div class="cart3">
        <a href="/product/categories/sew-machine">

        <img src="../../././img/mac3.png" alt="">
        <p>Sewing machine</p>
        </a>
      </div>

      <div class="cart4">
        <a href="/product/categories/small-appliance">

        <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/56/662236/1.jpg?3569" alt="">
        <p>Small Appliances</p>
        </a>

      </div>
      <div class="cart5">
        <a href="/product/categories/printer">

        <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/60/478075/1.jpg?6897" alt="">
        <p>printers</p>
        </a>
      </div>
      
  </div>
</div>