<style>
  .rating{
    display: none !important;
  }
</style>
<div class="topSelling_container">
    <h2>New Arrivals</h2>
    <span></span>
 
    <div class="topImgCon">

      <div class="topimg1">
      <div class="ss">
        <a>
        <img src=".././img/5.png" alt="" class="select_img">
        <h3>Lg sound system</h3>
      </a>
      <div class="moreInfo">
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        
        <p>$ 33,500</p>
          
          <input type="hidden"  value="1">
          <input type="hidden"  name="price" value="33,500" >
          <input type="hidden" name="quantity" value="1" id="">
          <input type="hidden" name="sizes" value="m" id="">
          <input type="hidden" name="color" value="black" id="">
          
          <input type="hidden" name="categories" value="electronic" id="">
          <button type="button" id="button" class="addBtn">Add to cart</button>

        </div>
        </div>
      </div>







      <div class="topimg1">
        <img src=".././img/ssx.png" alt="" class="select_img">
        <h3>Tiger Generator</h3>
        <div class="moreInfo">
          <p>&#8358 10,500</p>
          <button type="button" id="button" class="addBtn">Add to cart</button>

        </div>
      </div>
      
      <div class="topimg2"><img src=".././img/9.png" alt="" class="select_img">
        <h3>Emmax shirt</h3>
        <div class="moreInfo">
          <p> &#8358 5,500</p>
                                 <button type="button" id="button" class="addBtn">Add to cart</button>

        </div>
      </div>   
      <div class="top1"><img src=".././img/45.png" alt="" class="select_img">
        
        <h3>hp laptop</h3>   
        <div class="moreInfo">
          <p>&#8358 23,500</p>
                                 <button type="button" id="button" class="addBtn">Add to cart</button>

        </div>
      </div>   
      <div class="top1"> <img src=".././img/shoe bbrown.png" alt="" class="select_img">
        <h3>men fashion</h3>
        <div class="moreInfo">
          <p>&#8358 5,000</p>
                               <button type="button" id="button" class="addBtn">Add to cart</button>

      </div>
    </div>   
    <div class="top1"> <img src=".././img/sshoe.png" alt="" class="select_img">
    <h3>Men cooperate </h3>
    <div class="moreInfo">
      <p>&#8358 53,200</p>
       <button type="button" id="button" class="addBtn">Add to cart</button>

    </div>
  </div>   
</div>
  
</div>