<div class="topSelling_container">
    <h2>New Arrivals</h2>
    <span></span>
 
    <div class="topImgCon">

      <div class="topimg1">
        <img src=".././img/ssx.png" alt="" class="select_img">
        <h3>Tiger Generator</h3>
        <div class="moreInfo">
          <p>&#8358 3,500</p>
          <a href="">Add to cart</a>
        </div>
      </div>
      <div class="topimg1">
        <img src=".././img/ssx.png" alt="" class="select_img">
        <h3>Tiger Generator</h3>
        <div class="moreInfo">
          <p>&#8358 3,500</p>
          <a href="">Add to cart</a>
        </div>
      </div>
      
      <div class="topimg2"><img src=".././img/2.png" alt="" class="select_img">
        <h3>Unisex Snikers</h3>
        <div class="moreInfo">
          <p> &#8358 35,500</p>
          <a href="javascript:void()">Add to cart</a>
        </div>
      </div>   
      <div class="top1"><img src=".././img/45.png" alt="" class="select_img">
        
        <h3>Unisex T-shirt</h3>   
        <div class="moreInfo">
          <p>&#8358 23,500</p>
          <a href="javascript:void()">Add to cart</a>
        </div>
      </div>   
      <div class="top1"> <img src=".././img/shoe bbrown.png" alt="" class="select_img">
        <h3>men fashion</h3>
        <div class="moreInfo">
          <p>&#8358 5,000</p>
        <a href="javascript:void()">Add to cart</a>
      </div>
    </div>   
    <div class="top1"> <img src=".././img/sshoe.png" alt="" class="select_img">
    <h3>Men cooperate </h3>
    <div class="moreInfo">
      <p>&#8358 53,200</p>
      <a href="javascript:void()">Add to cart</a>
    </div>
  </div>   
</div>
  
</div>