<style>
  .rating{
    display: none !important;
  }
</style>
<div class="topSelling_container">
    <h2>New Arrivals</h2>
    <span id="span"></span>
 
    <div class="topImgCon">

      <div class="topimg1">
      <!-- <div class="ss"> -->
        <a>
        <img src=".././img/5.png" alt="" class="select_img product-img">
        <h3 class="product-name">Lg sound system</h3>
      </a>

    
      
      
      <p class="product-price" > &#8358 33500</p>
      
      <input type="hidden"  value="1" class="product-id">
      <input type="hidden"  name="price" value="33,500"  >
      <input type="hidden" name="quantity" value="1" id="" class="product-quantity">
      <input type="hidden" name="sizes" value="m" id="" class="product-size">
  
          <input type="hidden" name="color" value="black" id="" class="product-color">
          
          
          <input type="hidden" name="categories" value="electronic" id="">
          <button type="button" id="button" class="addBtn">Add to cart</button>

        </div>



      <div class="topimg1">
      <!-- <div class="ss"> -->
        <a>
        <img src=".././img/ssx.png" alt="" class="select_img product-img">
        <h3 class="product-name">Tiger Generator</h3>
      </a>

  
      <p class="product-price" > &#8358 10500</p>
      
      <input type="hidden"  value="2" class="product-id">
      <input type="hidden"  name="price" value="10500"  >
      <input type="hidden" name="quantity" value="1" id="" class="product-quantity">
      <input type="hidden" name="sizes" value="s" id="" class="product-size">
  
          <input type="hidden" name="color" value="blue" id="" class="product-color">
          
          
          <input type="hidden" name="categories" value="electronic" id="">
          <button type="button" id="button" class="addBtn">Add to cart</button>

        </div>



      <div class="topimg1">
      
        <a>
        <img src=".././img/9.png" alt="" class="select_img product-img">
        <h3 class="product-name">Emmax shirt</h3>
      </a>

  
      <p class="product-price" > &#8358 5500</p>
      
      <input type="hidden"  value="3" class="product-id">
      <input type="hidden"  name="price" value="5500"  >
      <input type="hidden" name="quantity" value="1" id="" class="product-quantity">
      <input type="hidden" name="sizes" value="m" id="" class="product-size">
  
          <input type="hidden" name="color" value="white" id="" class="product-color">
          
          
          <input type="hidden" name="categories" value="electronic" id="">
          <button type="button" id="button" class="addBtn">Add to cart</button>

        </div>


      <div class="topimg1">
      
        <a>
        <img src=".././img/45.png" alt="" class="select_img product-img">
        <h3 class="product-name">hp laptop</h3>
      </a>

  
      <p class="product-price" > &#8358 38000</p>
      
      <input type="hidden"  value="4" class="product-id">
      <input type="hidden"  name="price" value="38000"  >
      <input type="hidden" name="quantity" value="1" id="" class="product-quantity">
      <input type="hidden" name="sizes" value="m" id="" class="product-size">
  
          <input type="hidden" name="color" value="white" id="" class="product-color">
          
          
          <input type="hidden" name="categories" value="electronic" id="">
          <button type="button" id="button" class="addBtn">Add to cart</button>

        </div>
      

      <div class="topimg1">
      
        <a>
        <img src=".././img/shoe bbrown.png" alt="" class="select_img product-img">
        <h3 class="product-name">men fashion</h3>
      </a>

  
      <p class="product-price" > &#8358 5000</p>
      
      <input type="hidden"  value="5" class="product-id">
      <input type="hidden"  name="price" value="5000"  >
      <input type="hidden" name="quantity" value="1" id="" class="product-quantity">
      <input type="hidden" name="sizes" value="45" id="" class="product-size">
  
          <input type="hidden" name="color" value="brown" id="" class="product-color">
          
          
          <input type="hidden" name="categories" value="electronic" id="">
          <button type="button" id="button" class="addBtn">Add to cart</button>

        </div>
      <div class="topimg1">
      
        <a>
        <img src=".././img/sshoe.png" alt="" class="select_img product-img">
        <h3 class="product-name">Men cooperate</h3>
      </a>

  
      <p class="product-price" > &#8358 22000</p>
      
      <input type="hidden"  value="6" class="product-id">
      <input type="hidden"  name="price" value="22000"  >
      <input type="hidden" name="quantity" value="1" id="" class="product-quantity">
      <input type="hidden" name="sizes" value="42" id="" class="product-size">
  
          <input type="hidden" name="color" value="brown" id="" class="product-color">
          
          
          <input type="hidden" name="categories" value="electronic" id="">
          <button type="button" id="button" class="addBtn">Add to cart</button>

        </div>
      
    
  </div>   
</div>
  
