<div class="Top_advert_container">
       <div class="imgAd">
           <img src="../.././img/tv1.png" alt="">
       </div>
       <div class="adtext">
        
            <h2>Shop from Freaky-store with Confidence</h2>
            <p>Our Buyer Protection covers your purchase from click to delivery and We offer competitive prices on our 100 million plus product range, Round-the-clock assistance for a smooth shopping experience. </p>
           <button>Shop Now &rarrfs;</button>
       </div>

    </div>
