<div class="Top_advert_container">
    <div class="adwrappper">
        <div class="imgAdvert">
            <img src="../.././img/phone1.png" alt=""></div>
        <div class="advertText">
            <p>Need help placing an order or bulk orders?</p>
            <h2>call 09069003426 Now</h2>
            <span>English, Yoruba, Hausa, Igbo or pidgin, we speak all language. </span>
        </div>
    </div>
</div>   