<%- include("../partials/_header") %> 

<div class="category_wrapper">
        <div class="category_container">
           
                
                <form action="/search">
            
            <div class="category_sidebar">
               <div class="categoryList">
                <p>category</p>   
                <li><a href="/product/categories/fashion">wares</a></li>
                <li><a href="/product/categories/computer">computer</a></li>
                <li><a href="/product/categories/electronic">Electronic</a></li>
                <li><a href="/product/categories/sport">Sport</a></li>
                <li><a href="/product/categories/phone">Phone</a></li>
                <li><a href="/product/categories/shoe">shoe</a></li>

               </div>

               <div class="categoryList">
                <p>Sizes</p>   
                <li><a href="/product/categories/small">S</a></li>
                <li><a href="/product/categories/medium">M</a></li>
                <li><a href="/product/categories/large">L</a></li>
                <li><a href="/product/categories/xl">XL</a></li>
                <li><a href="/product/categories/xxl">XXL</a></li>
                <li><a href="/product/categories/xxxl">XXXL</a></li>

               </div>

               <div class="categoryList">
                <p>Brand</p>   
                <li><a href="/s">Addidas</a></li>
                <li><a href="/M">Hp</a></li>
                <li><a href="">Starboy</a></li>
                <li><a href="">Nike</a></li>
                <li><a href="">Mac</a></li>
                <li><a href="">Samsung</a></li>

               </div>
              </form>

            </div> 
            <div class="category_body">
                    <%- body  %> 

                </div>  
               
    </div>




<%- include("../partials/_footer") %> 