<%- include("../partials/_header") %> 

<div class="sidebar_container">
    <div class="sidebar_body">
        <%- body  %> 
    </div>
    <div class="sidebar">

    </div>
</div>
<div class="bottom"></div>






<%- include("../partials/_footer") %> 