

<div class="uploadProduct">
    <h2>Upload product</h2>
    <form action="/product/new" method="POST" enctype="multipart/form-data">
        <input type="text" name="productName" id="" placeholder="product Name">
        <input type="text" name="amount" id="" placeholder=" Amount">
        <input type="text" name="brand" placeholder="brand">
        <input type="file" name="myfiles"  multiple>
        
        <select name="categories" id="">
            <option value="category">category</option>
            <option value="shoe">Shoe</option>
            <option value="wares">wares</option>
            <option value="phone">phone</option>
            <option value="electronic">electronic</option>
            <option value="computer">computer</option>
        </select>

        <select name="color" id="">
            <option value="color">color</option>
            <option value="all">all</option>
            <option value="red">red</option>
            <option value="blue">blue</option>
            <option value="pink">pink</option>
            <option value="black">black</option>
            <option value="white">white</option>
            <option value="green">green</option>
        </select>


        <select name="sizes" id="">
            <option value="sizes">sizes</option>
            <option value="small">small</option>
            <option value="medium">medium</option>
            <option value="large">large</option>
            <option value="extra-large">extra-large</option>
           
        </select>
        <textarea name="description" id="description" ></textarea>
        
    <button type="submit">Upload product</button>
</form>
</div>

