<div class="edit_container">
    <h2>Account Overview</h2>
    <div class="accountInfo">
      <div class="editHeader">
        <h2>ACCOUNT DETAILS</h2>
        <a href="/users/account/<%= user.id %>"><i class="fas fa-edit"></i></a>
      </div>
      <div class="editInfo">
            
                <p><%= user.firstname %>  <%= user.lastname %>  </p>
                    <p><%= user.email %> </p>
                    <a href="" id="password">Change Password</a>
        
      </div>
    </div>





            <div class="addressinfo">
                <div class="editHeader">
                    <h2>ADDRESS BOOK </h2>
        <a href=""><i class="fas fa-edit"></i></a>

                   
                </div>
                <div class="editInfo">
                    
                </div>
            </div>
</div>