<%- include("./partials/_header") %> 


<div class="form-container">
    <form action="/users/Login" method="POST">

        <input type="email" name="email" required placeholder="Email">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Login</button>
    </form>
</div>

<style>
    .form-container{
        display: flex;
        flex-direction: column;
        width: 200px;
        padding: 10px;
        flex-wrap: wrap;
        
    }
</style>
<%- include("./partials/_footer") %> 
