<%- include("./partials/_header") %> 



<div class="cart">
    <h2>My Shopping cart</h2>
    <div class="mtable" style="overflow-x:auto;">
<!-- <table> 
    
    
      <thead>
          <tr>
            <th>Items</th>
                <th id="name">name</th>
                <th>Amt</th>
                <th>Qty</th>
                <th>color</th>
                <th>size</th>
                <th>save</th>
                <th>Clear</th>
         </tr>
        </thead>       
                <div class="showtable" >
                    
            </div>  
        
  
               
          

          
</table> -->
    
<div class="mytable">

</div>
    </div>
</div>

<script>
   function increase(){
    const addUp = document.querySelectorAll(".add")
    const subUp = document.querySelectorAll(".sub")
    const qty = document.querySelector("#qty")
    
    addUp.forEach(add =>{
        add.addEventListener("click", (e)=>{
            
            let input = e.target.parentElement.children[1];
             let inputValue = input.value
             let newValue = parseInt(inputValue) + 1
             input.value = newValue
            

           })
           
            
            
        })

        subUp.forEach(sub =>{
            sub.addEventListener("click", (e)=>{
           
         let input = e.target.parentElement.children[1];
         let inputValue = input.value
         let newValue = parseInt(inputValue) - 1
         input.value = newValue
                
         if(newValue < 1){
         input.value = 1

         }
           })
           
            
            
        })
   }
    
</script>

<%- include("./partials/_footer") %> 
