<%- include("./partials/_header") %> 



<div class="cart" style="overflow-x: auto;">
  
  <h2 id="table-header">My Shopping cart</h2>
  <!-- <form action="/users/cart" method="POST"> -->
    <table class="cart-table"> 
    
    

      <thead>
          <tr>
            <td>s/n</td>
            <td>img</td>
            <td id="name">name</td>
            <td>Amt</td>
            <td>color</td>
            <td>size</td>
            <td>Qty</td>
            <td>Total price</td>

            <td>remove</td>
         </tr>
        </thead>       
                
        <tbody>

        </tbody>
  
        <tfoot>
          <tr>
              <td colspan="10">Grand Total <span class="total"></span></td>
          </tr>

        </tfoot>

        
        
        
      </table>
      <!-- <input type="hidden" name="userId" value="<ser.id %> " id=""> -->
      <button> <a href="/">Continue shopping</a></button>
      <% if(!user){ %> 
      <p id="notLogging">Checkout</p>
      <% }else{ %> 
        <button type="submit" id="checkout">Checkout</button>

        <% } %> 
    <!-- </form> -->
    


<div class="loginUser">
  <div class="userLogin">
  <P>Please login to checkout</P>
  <div class="button">

    <button id="removeSlideShow" type="submit">cancel</button>
    <a href="/users/login">Login</a>
  </div>
</div>

</div>
  

</div>


<script>
  //  function increase(){
  //   const addUp = document.querySelectorAll(".add")
  //   const subUp = document.querySelectorAll(".sub")
  //   const qty = document.querySelector("#qty")
    
  //   addUp.forEach(add =>{
  //       add.addEventListener("click", (e)=>{
            
  //           let input = e.target.parentElement.children[1];
  //            let inputValue = input.value
  //            let newValue = parseInt(inputValue) + 1
  //            input.value = newValue
            

  //          })
           
            
            
  //       })

  //       subUp.forEach(sub =>{
  //           sub.addEventListener("click", (e)=>{
           
  //        let input = e.target.parentElement.children[1];
  //        let inputValue = input.value
  //        let newValue = parseInt(inputValue) - 1
  //        input.value = newValue
                
  //        if(newValue < 1){
  //        input.value = 1

  //        }
  //          })
           
            
            
  //       })
  //  }
  
  
  
 </script> 
  <!-- <script>
  let notLogging = document.getElementById("notLogging")
  let removeSlideShow = document.getElementById("removeSlideShow")
  let loginUser = document.querySelector(".loginUser")
  console.log(removeSlideShow);
  notLogging.addEventListener("click", (e) =>{
    loginUser.classList.add("showLogin")


  })
  removeSlideShow.addEventListener("click", (e) =>{
    loginUser.classList.remove("showLogin")



  })
</script> -->

<%- include("./partials/_footer") %> 
