<%- include("./partials/_header") %> 

<div class="uploadProduct">
    <h2>Upload product</h2>
    <form action="/product/new" method="POST" enctype="multipart/form-data">
    <input type="file" name="productImg" accept="image/png, image/jpg, image/jpeg, image/PNG, image/jpeg, image/jpg"  id="">
        
    <button type="submit">Upload product</button>
</form>
</div>


<%- include("./partials/_footer") %> 