<%- include("./partials/_header") %> 

<div class="uploadProduct">
    <h2>Upload product</h2>
    <form action="/product/new" method="POST" enctype="multipart/form-data">
        <input type="text" name="productName" id="" placeholder="product Name">
        <input type="text" name="amount" id="" placeholder=" Amount">
        <input type="text" name="brand" placeholder="brand">
        <input type="file" name="myfiles"  multiple>
        <textarea name="description" id="description" ></textarea>
        
    <button type="submit">Upload product</button>
</form>
</div>


<%- include("./partials/_footer") %> 