.Top_advert_container{
    padding: 10px;
    background: linear-gradient(rgba(46, 2, 2, 0.719), rgb(0, 0, 0)),url("../img/starry-sky-1654074_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-blend-mode: color;
    height: 300px;
    opacity: .9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
   

}

.Top_advert_container div{
    /* border: 3px solid #eee; */
    height: 300px;
    width: 45%;
 
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-direction: column;
}

.Top_advert_container div img{
    width: 80%;
}

.Top_advert_container .adtext {
    height: 280px !important;
    border: none;
    /* background-color: red; */
}
.Top_advert_container div h2{
    color: #eee;
    font-size: 30px;
    font-weight: 500;
    opacity: .8;
    padding: 10px 0;

}
.Top_advert_container div p{
    font-size: 16px;
    line-height: 27px;
    color: #fff;
    opacity: .6;
}
.Top_advert_container button{
    width: 170px;
    font-size: 16px;
    padding: 13px;
    margin-top: 1rem;
    font-weight: 600;
    background-color: #af2b34;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: #eee;
    transition: background .5s ease;
    -o-transition: background .5s ease;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;

}
.Top_advert_container button:hover{
    background: #a54148;
}



@media screen and (max-width:768px) {
    .Top_advert_container{
        display: block !important;
        height: auto;
        margin-top: 25rem;
    }

    .Top_advert_container div{
        width: 100%;
        height: auto;
    }
    .Top_advert_container .adtext {
        height: auto !important;
        
    }

    .Top_advert_container div img{
        width: 100%;
    }

    .Top_advert_container button{
        margin-bottom: 3rem;
        padding: 10px;
        width: 130px;
    }
    .Top_advert_container div h2{
        width: 95%;
        margin: 0px auto;
        font-size: 20px;
        line-height: 30px;
    }
    .Top_advert_container div p{
        width: 95%;
        margin: 0px auto;
        font-size: 14px;
        /* line-height: 30px; */
    }
}



@media screen and (min-width:750px) and (max-width:1200px) {
    .Top_advert_container{
        display: flex !important;
        height: auto;
        margin-top: 20rem;
    }

    .Top_advert_container div{
        width: 45%;
        height: auto;
    }
    .Top_advert_container .adtext {
        height: auto !important;
        
    }

    .Top_advert_container div img{
        width: 100%;
    }

    .Top_advert_container button{
        margin-bottom: 3rem;
        padding: 10px;
        width: 130px;
    }
    .Top_advert_container div h2{
        width: 95%;
        margin: 0px auto;
        font-size: 20px;
        line-height: 30px;
    }
    .Top_advert_container div p{
        width: 95%;
        margin: 0px auto;
        font-size: 14px;
         line-height: 30px; 
    } 
}