.Top_advert_container{
    /* border: 2px solid red; */
    height: 300px;
    width: 90%;
    margin: 0px auto;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.adwrappper{
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    background-color: #ff4a57;
    width: 100%;
}
.adwrappper > div{
    width: 600px;
    overflow: hidden;
    /* border: 2px solid blue; */
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-direction: column;
}

.imgAdvert{
   
}
.adwrappper  img{
    width:350px;
}

.adwrappper > div p{
    font-size: 25px;
    width: 60%;
    color: #eee;
}
.adwrappper > div h2{
    text-align: left;
    font-size: 35px;
    padding: 10px;
    text-transform: capitalize;
}
.adwrappper div span{
    width: 60%;
    line-height: 30px;
    color: #ddd;
}
@media screen and (max-width:768px) {
    .adwrappper
    {
        margin-top: 22rem !important;
    height: 220px;
    position: relative;

    }


    .adwrappper > div{
        width: 200px;
        
    }
    .adwrappper  img{
        width:180px;
        position: absolute;
        left: 0;
    }

    .adwrappper > div p{
        font-size: 16px;
        width: 100%;
        position: absolute;
        top: 20px;
        left: 0;
        text-align: center;
    }
    .adwrappper > div h2{
        text-align: center;
        width: 100%;
        font-size: 20px;
        padding: 10px;
        text-transform: capitalize;
        position: absolute;
        top: 40px;
        left: 0;
    }

    .adwrappper div span{
        width: 50%;
        line-height: 30px;
        color: #ddd;
        position: absolute;
        left: 50%;
        top: 7rem;
    }
}