body{
    max-height: 100%;
    height: 100%;
    /* margin-bottom: 100rem !important; */
}
.mostPouplar_container{
    width: 90%;
    margin: 0px auto;
    /* border: 2px solid red; */
    height: auto;    
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 1rem;
}
.mostPouplar_container .categories{
    padding: 10px;
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.categories > div{
    border: 1px solid rgba(218, 215, 215, 0.603);
    width: 90px;
    font-size: 16px !important;
    text-transform: capitalize;
    margin: 10px;
    outline: none;
    font-weight: 600;
    /* background-color: #ff4a57; */

    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;

}
.mostPouplar_container >.categories div:is(:hover, .active){
    background-color: #af2b34;
    color: #eee;
    transition: all .5s ease-in;
}

.mostPouplar_container h2{

        padding: 40px;
        padding-bottom: 20px;
        top: 2rem;
        font-size: 25px;
        font-weight: 600;
    }
    .mostPouplar_container > span{
        border: 2px #af2b34 solid;
        position: absolute;
        width: 70px;
        top: 4.5rem;
        margin-left: -2rem;
        margin-top: 10px;
    }
.mostPouplar_container .popular{
    /* border: 2px solid blue; */
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mostPouplar_container .popular div{
    box-shadow: 0px 1px 1px  2px #eee;
    width: 225px;
    border-radius: 5px;
    margin: 8px;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    align-items: center;
    transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    /* overflow: hidden; */

    
}
.mostPouplar_container .popular div:hover{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
}
.popular .hide{
    display: none !important;
    transition: all .5s ease-in;
}
.popular .show{
    display: flex !important ;
    transition: all .5s ease-in;

}

.popular h2{
    padding: 5px;
    width: 96%;
    margin: 0px auto;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
    
}
.popular div p{
    padding:  10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: -5px !important;



}
.popular a{
    text-decoration: none;
    color: #222;
}
.popular div img{
    width: 220px;
    height: 150px;
    object-fit: scale-down;
    /* border: 2px solid red; */
    margin-top: 5px;
}
.popular div button{
    /* margin-top: 1rem; */
    text-decoration: none;
    background-color: #af2b34;
    width: 100px;
    padding: 7px 10px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: -.5rem;
    /* margin-bottom: 20px; */
    
}
.popular  button:hover{
    background-color: #222;
    color: #eee;
    transition: background .5s ease;
    
}

.rating{
    position: relative;
    color: #af2b34;
    font-size: 12px;
    display: inline-block !important;
    height: 10px !important;
    background-color: unset;
    box-shadow: unset !important;
    margin-top: -5px !important;

    
}
 

@media screen and (max-width:768px) {
    .mostPouplar_container{
        margin-top: 5rem;
    }

    .categories{

        /* border: 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .categories > div{
       font-size: 12px !important;
        margin: 3px !important;
        width: 70px;
       

    }
    .mostPouplar_container .popular{
        width: 100%;
    }
    .mostPouplar_container .popular div{
        box-shadow: 0px 1px 1px  2px #eee;
        width: 140px !important;
        margin: 10px;
        height: 270px;
        /* background-color: red; */
    
    }

    .popular p{
        /* border: 2px solid red; */
        font-size: 14px;
        margin-top: -3px !important;
        padding: 5px !important;
    }
    .popular a{
        text-decoration: none;
        color: #222;
        
    }
    .popular h2{
        margin-top: -10px;
        font-size: 14px;
       
    }
    .popular div img{
        width: 135px;
        height: 140px;
        object-fit: scale-down;
        /* border: 2px solid red; */
    }
    .popular div button{
        margin-top: 3px;
    }


    .rating{
      
        margin-top: -8px !important;
    
        
    }

    /* myshoe categories */
#myshoe{
    width: 130px;
    margin: 5px;
}

}