@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


#table-header{
  width: 100%;
  text-align: center;
  padding: 20px 0px 0px 20px;
  margin-top: 3rem;
}

table{
 box-shadow: 1px 2px 2px 5px #eee;
  margin: 0px auto;
  overflow-x: auto;
  width: 800px;
  padding: 10px;
  margin-top: 2rem;

}
tbody{
  counter-reset: rowNumber;
}

tbody tr::before {
  /* display: table-cell; */
  counter-increment: rowNumber;
  content: counter(rowNumber) "";
  /* padding-right: 0.6em; */
  text-align: right;
}

table tbody img{
  width: 70px;
}
table thead tr td{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;

}
tbody{
  text-align: center;
}
tbody input{
  width: 50px !important;
}

tfoot{
  text-align: right;

}

tfoot tr td{
  padding: 10px;
}
 .count{
     /* background-color: rgba(0, 0, 0, 0.281);   */
     display: flex; 
     justify-content: center;
     align-items: center;
     padding: 10px;
}
.count > .add, .sub{
    border: none;
    outline: none;
    background-color: #222;
    /* padding: 5px; */
    color: #fff;
    width: 30px !important;
    height: 30px !important;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.count > input[type="text"]{
    width: 30px;
    height: 30px;
    text-align: center;
    /* margin: 10px; */
    outline: none;
    border: none;
    border-radius: 5px;

}