
.cart h2{
    padding: 30px 20px;
    width: 100%;
    text-align: center;

}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 70%;
    margin: 0px auto;
  }
  th{
    background-color: #f2f2f2
  }
  
  th, td {
    padding: 15px;
    
  }

tr, td img{
    width: 30px ;
}