@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



.cart{
  width: 100%;
}
#table-header{
  width: 100%;
  text-align: center;
  padding: 20px 0px 0px 20px;
  margin-top: 3rem;
 
  position: absolute;
}

/* table{
 box-shadow: 1px 2px 2px 5px #eee;
  margin: 0px auto;
  overflow-x: auto;
  width: 700px;
  border-collapse: collapse; 
  margin-top: 8rem;

} */

table { 
  position: relative;
  width: 700px; 
  margin: 0px auto;
  margin-top: 8rem;
  border-collapse: collapse; 
}

/* Zebra striping */
thead tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: center; 
}
tbody tr::before {
  /* display: table-cell; */
  
  counter-increment: rowNumber;
  content: counter(rowNumber) "";
  /* padding-right: 0.6em; */
  text-align: right;
}

table tbody img{
  width: 50px;
}
tbody tr td:last-child{
  display: none !important;
}


tbody{
  counter-reset: rowNumber;
  text-align: center;
  margin-top:7rem !important;
  
  
}
tbody select{
  background-color: unset;
 
}
tbody button{
background-color: unset;
outline: none;
border: none;

}
tbody button i{
  color: tomato;
}
tbody input{
  width: 50px !important;
  text-align: center;
}

tfoot{
  text-align: right !important;
  
  

}

tfoot tr td{
  padding: 10px;
}
 