.singleProduct{
    position: relative;
    /* border: 2px solid red; */
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.singleProduct > div{
    width: 500px;
    height: 600px;
    overflow: hidden;
    /* border: 2px solid red; */
}

.showImg{

    position: relative;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.showImg img{
    /* border: 2px solid red; */
       width: 100%;
       height: 400px;

    
}

.selectImg{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.selectImg img{
    width: 50px;
    height: 50px;
    border: 2px solid #ff4a57;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 100%;


}