.singleProduct{
    position: relative;
    /* border: 2px solid red; */
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    /* align-items: center; */
    flex-flow: row wrap;
    padding-top: 3rem;
}

.singleProduct > div{
    
    margin: 10px;
    overflow: hidden;
    /* border: 2px solid red; */
}

.showImg{

    position: relative;
    /* width: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.showImg img{
    
       width: 100%;
       
       
    
    }
    
  .right_product  .selectImg{
        width: 96% !important;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* border: 2px solid red; */
        width: 100%;
       position: absolute;
       top: 20px;

     
}
.selectImg p{
    margin-top: -3px;
    width: 150px;
}

.right_product .selectImg img{
    width: 30px;
    height: 30px;
    border: 2px solid #ff4a57;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: unset !important;
    border-radius: 100%;


}


.right_product{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}


.right_product h2{
    font-size: 25px;
    text-transform: capitalize;
    padding: 10px;
    font-weight: 600;
   
}
.right_product .ratings{
    padding: 10px;
}
.right_product > h3{
    padding: 10px;
    margin-top: 10px;
}

.right_product >  p, .selectImg p{
   padding: 10px;
   font-size: 16px;
   position: relative;
   text-align: left;
  

}
.right_product p > span{
    
    position: absolute;
    /* text-transform: capitalize;
    right: 0; */
    margin-left: 6.4rem;
}


.quantity, .sizes{
    display: flex;
    padding: 10px;
    width: 268px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 4rem;
}
.quantity{
    width: 300px !important;
    /* border: 2px solid red; */

}
.quantity input{
    padding: 10px;
    width: 100px !important;
    margin-left: 2.8rem;
}
.sizes select{
    padding: 5px 0;
    height: 40px;
    margin-top: -2px;
    background-color: #fff;
    border: 1px solid #222;
    width: 100px !important;
    margin-left: 2rem !important;


    

}
.quantity p, .sizes p{
    width: 100px;
    font-size: 16px;
    text-transform: capitalize;
    

}


.singleProduct .submitBtn, .buynow button{
    background-color: #ff4a57;
    width: 370px;
    padding: 10px 15px !important;
    border-radius: 20px;
    margin-top: 1rem;
    border: none;
    height: 45px !important;
    margin-left: 1.8rem;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 9999;
    font-weight: 700;
    transition: border .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: border .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: border .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: border .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: border .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -ms-transition: border .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
 .submitBtn:hover{
    border: 2px solid #000;
    background-color: unset;
    color: #000;
}
.buynow button{
    background-color: #fff;
    color: #222;
    border: 2px solid #ff4a57;
    width: 330px;
    transition: background .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: background .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: background .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: background .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: background .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -ms-transition: background .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);

    margin-top:5px;
}
.buynow button:hover{
    background-color: #ff4a57;
    color: #fff;
    
}
.rating{
    padding: 10px;
}




.moreInfo{
    box-shadow: 0px 0px 2px 2px #eee;
    width: 100%;
    height: auto;
    margin: 0px auto;
    margin-top: 4rem;
    position: relative;
}

.myProductInfo{
    margin-top: -15px;
    width: 95%;
    margin: 0px auto;
    padding-bottom: .5rem;


}



.myProductInfo p{
    font-weight: 500;
    padding: 5px 10px;
    font-size: 12px;
    opacity: .6;
    text-align: left;
    
}
.shipping, .return{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    padding: 10px;
    
}
.shipping div, .return div{
    /* border: 2px solid red; */
    margin: 10px;
    font-size: 12px;
}
.shipping div p, .return div p{
    font-size: 12px;
}
.shipping  i, .return i{
 
    font-size: 40px;
}
.moreInfo .infoBtn{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
}
.moreInfo .infoBtn > div{
    margin: 25px;
    margin-bottom: 5px;
    font-weight: 500;
    cursor: pointer;
}
.infoBtn i{
    display: none;
}
.infoBtn .active{color:#ff4a57}
.hide{
    display: none !important;
}
.show{
    display: flex !important;
}


.showProductInfoOnmobile{
    display: none;
}



@media screen and (max-width:768px) {
    .singleProduct{
        
        grid-template-columns: 100%;
        
        height: auto;
    }
    
    .right_product{
        height: 400px !important;
        width: 100% !important;
        /* border: 2px solid red; */
        margin: 0 !important;
        padding-left: 0 !important;
    }
    .right_product h2{
         /* 0 !important; */
        font-size: 16px;
        width: 100%;
        line-height: 20px;
        padding-left: 0 !important;
        
    }
    .ratings{
        padding-left: 0 !important;

    }
    .right_product h3{
        font-size: 15px;
        padding-left: 0 !important;

    }
    .right_product p{
        padding-left: 0 !important;

    }
    .showImg{
        padding-top: 0 !important;
        /* border: 1px solid #eee; */
        height: 330px;
        margin-top: -2rem !important;
       
    }
    .selectImg{
        width: 100% !important;
        height: 100px !important;
        flex-direction: row;
        position: absolute !important;
        top: 10rem !important;
        left: 0;
        margin: 0;
        padding-left: 0;
    }
    .selectImg p{
        width: 140px;
    }
   
    .sizes{
        width: 260px !important;
    }
    .singleProduct .submitBtn, .buynow button{
        background-color: #ff4a57;
        width: 46%;
        padding: 10px 15px !important;
        border-radius: 20px;
        margin: 0px auto;
        margin-top: 1rem;
        border: none;
        height: 45px !important;
        margin-left: 0rem;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        z-index: 9999;
        font-weight: 700;
        transition: border .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -o-transition: border .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition: border .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -webkit-transition: border .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -moz-transition: border .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -ms-transition: border .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    
    .submitBtn:hover{
        border: 2px solid #000;
        background-color: unset;
        color: #000;
    }
    
    .buynow button{
        background-color: #fff;
        color: #222;
        border: 2px solid #ff4a57;
        width: 46%;
        transition: background .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -o-transition: background .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition: background .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -webkit-transition: background .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -moz-transition: background .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -ms-transition: background .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        position: absolute;
        right: 10px;
        bottom:  0px;
        
        margin-top:5px;
    }
    .buynow button:hover{
        background-color: #ff4a57;
        color: #fff;
        
    }

 .moreInfo{
    display: none;
   
    
}


.showProductInfoOnmobile{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    /* height: auto; */
    padding: 10px;
}
.showProductInfoOnmobile div div{
    height: 0;
    overflow: hidden;
}
.showProductInfoOnmobile li{
    padding: 10px;
    width: 100%;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid #eee;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 5px;
}
.showProductInfoOnmobile  i{
    float: right;
    margin-left: -1rem;
}
.showInfo{
    height: auto !important;
}

}
.showProductInfoOnmobile p{
    padding: 10px;
    font-size: 14px;
    line-height: 25px;
}


