.singleProduct{
    position: relative;
    /* border: 2px solid red; */
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    /* align-items: center; */
    flex-flow: row wrap;
    padding-top: 3rem;
}

.singleProduct > div{
    
    margin: 10px;
    overflow: hidden;
    /* border: 2px solid red; */
}

.showImg{

    position: relative;
    /* width: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.showImg img{
    
       width: 100%;
       /* border: 2px solid red; */
    

    
}

.selectImg{
    /* width: 400px; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.selectImg img{
    width: 40px;
    height: 40px;
    border: 2px solid #ff4a57;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 100%;


}


.singleProduct .productInfo #title{
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
    font-weight: 600;


}
.amount h3{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}
.productInfo >  p{
   padding: 10px;
   font-size: 16px;
   /* border: 2px solid red; */
   position: relative;
   text-align: left;
  

}
.productInfo p > span{
    
    position: absolute;
    /* text-transform: capitalize;
    right: 0; */
    margin-left: 6.4rem;
}


.quantity, .sizes{
    display: flex;
    padding: 10px;
    width: 220px;
    justify-content: space-between;
    align-items: center;
}
.quantity{
    width: 270px;
}
.sizes select{
    padding: 5px 0;
    margin-top: -2px;
    border: 1px solid #ff4a57;

}
.quantity p, .sizes p{
    width: 100px;
    font-size: 16px;
    text-transform: capitalize;
    

}
.count{
    /* border: 2px solid blue; */
    width: 120px !important;
}


.submitBtn button{
    background-color: #ff4a57;
    width: 240px;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 1rem;
    border: none;
    margin-left: .5rem;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    transition: background .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.submitBtn button:hover{
    background-color: black;
    color: #fff;
}
.rating{
    padding: 10px;
}




.moreInfo{
    box-shadow: 0px 0px 2px 2px #eee;
    width: 100%;
    height: auto;
    margin: 0px auto;
    margin-top: 2rem;
    position: relative;
}

.myProductInfo{
/* border: 2px solid red; */
margin-top: -20px;
width: 95%;
margin: 0px auto;
padding-bottom: 2rem;

}


.myProductInfo p{
    font-weight: 500;
    padding: 10px;
    line-height: 27px;
    font-size: 14px;
    
}

.moreInfo .infoBtn{
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}
.moreInfo .infoBtn > div{
    margin: 20px;
    font-weight: 500;
    cursor: pointer;
}
.infoBtn i{
    display: none;
}
.infoBtn .active{color:#ff4a57}
.hide{
    display: none !important;
}
.show{
    display: flex !important;
}


.showProductInfoOnmobile{
    display: none;
}



@media screen and (max-width:768px) {
    .singleProduct{
        
        grid-template-columns: 100%;
        
        
    }
    
    
    .showImg{
        padding-top: 0 !important;
        /* border-botto: 1px solid #eee; */
        height: 320px;
        margin-top: -2rem !important;
       
    }
    .selectImg{
        position: absolute;
        bottom: 3rem;
        left: -1.4rem;
        flex-direction: column;
    }
    
    .selectImg img{
        width: 25px !important;
        height: 25px !important;
        
        padding: 5px;
        
        
        
    }
    
    .showImg img{
        margin-left: 1.5rem;
        width: 90%;
        /* border: 2px solid red; */
     
 
     
 }  
 .submitBtn button{
     margin-bottom: 2rem;
 }


 



 .moreInfo{
    display: none;
   
    
}


.showProductInfoOnmobile{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.showProductInfoOnmobile div div{
    height: 0;
    overflow: hidden;
}
.showProductInfoOnmobile li{
    padding: 10px;
    width: 100%;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid #eee;
    margin-top: 10px;
}
.showProductInfoOnmobile  i{
    float: right;
    margin-left: -1rem;
}
.showInfo{
    height: auto !important;
}

}
.showProductInfoOnmobile p{
    padding: 10px;
    font-size: 14px;
    line-height: 25px;
}


