.topSelling_container{
    height:400px;
    width: 100%;
    display: flex; 
     justify-content: center;
    align-items: center;
    position: relative;
    flex-flow: row wrap;
    
}
.topSelling_container h2{
    position: absolute;
    top: 2rem;
    font-size: 30px;
}
.topSelling_container > span{
    border: 2px #ff4a57 solid;
    position: absolute;
    width: 70px;
    top: 4.5rem;
}
.topImgCon{
    display: flex;
    column-count: 6;
    column-gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    flex-flow: row wrap;
    position: absolute;
    /* left: 0; */
}
.topImgCon > div{
    /* border: 2px solid #333; */
    height: 250px;
    margin-top: 4rem;
    pointer-events: visible;
    width: 200px;
    background-color: rgb(243, 243, 243);
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0px 0px 2px #ecebebd5;
    
}
.topImgCon div  img{
    width: 180px;
    height: 180px;
}

.topImgCon  .moreInfo{
    display: none;
}
.topImgCon > div:hover img{
    width: 200px;
    /* height: 220px;  */
    transform:translateY(-30%) ;
}
.topImgCon > div h3{
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    
}
.topImgCon > div:hover  h3{
margin-top: -5rem;  
font-weight: 500;   


}

.topImgCon > div:hover .moreInfo{
    display: block;
    margin-top: 0rem;
    width: 60%;
    padding: 5px;
    text-align: center;
    transition: all .6s ease;
}
.moreInfo p{
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 20px;
}
.moreInfo a{
    background-color: #ff4a57;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    border-radius: 5px;
    font-weight: 400;
}
.moreInfo a:hover{
    background-color: #333;
    color: #eee;
}


@media (max-width:768px){
   
    .topSelling_container{
        height: auto;
        /* border: 2px solid red; */
        margin-top: 22rem;
    }
    .topSelling_container h2{
        position: absolute;
        top: -23rem;
        font-size: 30px;
    }
    .topSelling_container > span{
        
        top: -20.4rem;
    }
    .topImgCon{
        column-count: 4;
        column-gap: 12px;
        width: 100%;
      
    }
    .topImgCon > div{
        width: 160px;
        height: 200px;
        margin-top: 10px;
        
    }
    .topImgCon div  img{
        width: 120px;
        height: 140px;
        margin-top: -10px;
        
    }
    
    .topImgCon  .moreInfo{
        display: none;
    }
    .topImgCon > div:hover img{
        width: 120px;
        height: auto; 
        transform:translateY(-15%) ;
    }
    .topImgCon > div h3{
        font-weight: 500;
        font-size: 16px;
        margin-top: -1rem;
        text-transform: capitalize;
        /* border: 2px solid #333; */
        
    }
    .topImgCon > div:hover  h3{
        margin-top: -1.5rem;  
        font-weight: 500;   
        
        
    }
    
    .topImgCon > div:hover .moreInfo{
        display: block;
        margin-top: -.2rem;
        padding: 5px;
        /* border:2px solid red; */
        width: 100%;
      
    }
    .moreInfo p{
        font-size: 16px;
        padding-bottom: 10px;
    }
    .moreInfo a{
        padding: 5px 10px;
        font-size: 14px;
        color: #eee;
        
       
    }
    
    
}