
<%= data.status %> 

<form action="">
   <button type="submit" id="submit"></button>
</form>


<script>
    const button = document.getElementsByName("button")
    window.addEventListener("load", (e) =>{
        button.addEventListener("click", (e) =>{
            alert("click")
        })
    })
</script>